*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

@media (max-width: 66.0625em) {
  html {
    font-size: 80%; } }

@media (max-width: 48em) {
  html {
    font-size: 75%; } }

body {
  font-family: 'Public Sans', sans-serif; }

.navigation {
  background-color: white;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 10; }
  .navigation__list {
    display: flex;
    justify-content: space-between; }
    @media (max-width: 66.0625em) {
      .navigation__list {
        display: none; } }
  .navigation__logo {
    margin-left: 7rem; }
    @media (max-width: 66.0625em) {
      .navigation__logo {
        margin-left: 3rem; } }
  .navigation__item {
    font-weight: 400;
    list-style: none;
    margin-right: 2rem; }
  .navigation__link {
    color: #9698a6;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    padding-bottom: 1.5rem;
    transition: all .2s; }
    .navigation__link:hover {
      border-bottom: 5px solid #31d35c; }
  .navigation_btn {
    margin-right: 8rem; }
    @media (max-width: 48em) {
      .navigation_btn {
        display: none; } }
  .navigation__checkbox {
    display: none; }
  @media (max-width: 66.0625em) {
    .navigation_btn {
      display: none; }
    .navigation__background {
      width: 4rem;
      height: 4rem;
      position: absolute;
      right: 6.5rem;
      background-image: radial-gradient(#2bb7da, #31d35c);
      z-index: 1000;
      transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
    .navigation__checkbox {
      display: none; }
    .navigation__button {
      background-color: white;
      width: 5rem;
      height: 5rem;
      position: absolute;
      right: 6rem;
      z-index: 2000;
      text-align: center;
      cursor: pointer;
      border-radius: 6px; }
    .navigation__nav {
      height: 100vh;
      position: fixed;
      top: 0;
      right: 0;
      z-index: 1500;
      transition: all .2s;
      opacity: 0;
      width: 0;
      transition: all 0.8s cubic-bezier(0.65, -0.55, 0.265, 1.55); }
    .navigation__list {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      list-style: none;
      text-align: center;
      width: 100%; }
    .navigation__item {
      margin: 1rem; }
    .navigation__link:link, .navigation__link:visited {
      display: inline-block;
      font-size: 3rem;
      text-decoration: none;
      font-weight: 200;
      text-transform: uppercase;
      color: white;
      transition: all .2s;
      padding: 1rem 2rem;
      background-size: 220%;
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
      transition: all .5s; }
    .navigation__link:hover {
      color: #31d35c;
      background-position: 100%;
      transform: translateX(1rem); }
    .navigation__checkbox:checked ~ .navigation__background {
      transform: scale(80); }
    .navigation__checkbox:checked ~ .navigation__nav {
      opacity: 1;
      width: 100%; }
    .navigation__icon {
      position: relative;
      margin-top: 2.5rem; }
      .navigation__icon, .navigation__icon::before, .navigation__icon::after {
        display: inline-block;
        width: 3rem;
        height: 2px;
        background-color: #2bb7da; }
      .navigation__icon::before, .navigation__icon::after {
        content: "";
        position: absolute;
        left: 0;
        transition: all .2s; }
      .navigation__icon::before {
        top: -.6rem; }
      .navigation__icon::after {
        top: .6rem; } }

.btn {
  text-decoration: none;
  width: 7rem;
  color: #f3f4f6;
  background-image: linear-gradient(to right, #31d35c, #2bb7da);
  padding: .8rem 2.8rem;
  border-radius: 10rem; }

.btn:hover {
  background-image: linear-gradient(to right, #2bb7da, #31d35c); }

p {
  color: #2d314d; }

h3 {
  color: #2d314d; }

.header {
  width: 100%;
  height: 95vh;
  position: relative;
  background-image: url("../images/image-mockups.png"), url("../images/bg-intro-desktop.svg");
  background-repeat: no-repeat , no-repeat;
  background-position: top right , top right;
  background-size: 40% , 60%;
  margin-bottom: -7rem;
  z-index: 2; }
  @media (max-width: 66.0625em) {
    .header {
      height: 82vh; } }
  @media (max-width: 48em) {
    .header {
      margin-bottom: 0; } }
  @media (max-width: 31.25em) {
    .header {
      height: 130vh;
      background-image: url("../images/image-mockups.png"), url("../images/bg-intro-mobile.svg");
      background-size: 75% , 100%;
      background-position: top , top;
      margin-top: -9rem; } }
  .header__content {
    width: 36vw;
    position: absolute;
    top: 23%;
    left: 7%; }
    @media (max-width: 31.25em) {
      .header__content {
        width: 70vw;
        top: 57%;
        left: 14%;
        text-align: center; } }
  .header__heading {
    color: #2d314d;
    letter-spacing: 2.5px;
    font-size: 3.5rem;
    font-weight: 300; }
    @media (max-width: 66.0625em) {
      .header__heading {
        letter-spacing: 1.5px;
        font-size: 3rem; } }
  .header__paragraph {
    color: #2d314d;
    margin-top: 2rem;
    margin-bottom: 2.5rem; }

.about {
  height: 80vh;
  padding: 4rem 4rem;
  background-color: #f3f4f6;
  position: relative; }
  @media (max-width: 48em) {
    .about {
      height: 100vh;
      padding: 5rem 4rem; } }
  @media (max-width: 31.25em) {
    .about {
      height: 195vh; } }
  .about__content {
    color: #2d314d;
    width: 40vw;
    padding: 4rem; }
    @media (max-width: 48em) {
      .about__content {
        padding: 0; } }
    @media (max-width: 31.25em) {
      .about__content {
        text-align: center;
        width: 80vw; } }
  .about__heading {
    letter-spacing: 2px;
    font-size: 3rem;
    font-weight: 300; }
  .about__paragraph {
    letter-spacing: 1.5px;
    margin-top: 2rem; }
    @media (max-width: 48em) {
      .about__paragraph {
        letter-spacing: 1px;
        margin-top: 1rem; } }

.row {
  position: absolute;
  top: 50%;
  left: 7%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  flex-wrap: wrap; }
  @media (max-width: 48em) {
    .row {
      top: 30%;
      justify-content: space-around; } }
  @media (max-width: 31.25em) {
    .row {
      top: 20%; } }

.col-1-of-4 {
  width: 18vw;
  align-self: center; }
  .col-1-of-4:not(:last-child) {
    margin-right: 2rem; }
  .col-1-of-4 > img {
    padding-bottom: 2rem; }
  .col-1-of-4 > h2 {
    color: #2d314d;
    font-size: 2rem;
    font-weight: 400;
    padding-bottom: 2rem; }
  .col-1-of-4 > p {
    color: #2d314d;
    width: 12rem; }
    @media (max-width: 31.25em) {
      .col-1-of-4 > p {
        width: 18rem; } }
  @media (max-width: 48em) {
    .col-1-of-4 {
      width: 31vw;
      margin-bottom: 2rem; } }
  @media (max-width: 31.25em) {
    .col-1-of-4 {
      width: 50%;
      text-align: center;
      margin-bottom: 4rem; } }

.article {
  background-color: #fafafa;
  height: 60vh;
  margin: 0 2rem 10rem 2rem; }
  @media (max-width: 48em) {
    .article {
      height: 85vh; } }
  @media (max-width: 31.25em) {
    .article {
      height: 190vh; } }
  .article__heading {
    font-size: 2rem;
    font-weight: 300;
    padding: 5rem 0 3rem 5rem; }
  .article__row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
  .article__col-1-of-4 {
    width: 20%;
    color: #2d314d; }
    .article__col-1-of-4:not(:last-child) {
      margin-right: 4rem; }
    @media (max-width: 48em) {
      .article__col-1-of-4 {
        text-align: center;
        width: 34%;
        margin-right: 4rem; } }
    @media (max-width: 31.25em) {
      .article__col-1-of-4 {
        width: 52%;
        margin-bottom: 3rem;
        margin-right: 0; }
        .article__col-1-of-4:not(:last-child) {
          margin-right: 0rem; } }
    .article__col-1-of-4 > .img {
      width: 100%;
      height: 50%; }

.footer {
  height: 30vh;
  background-color: #2d314d; }
  @media (max-width: 31.25em) {
    .footer {
      height: 90vh;
      font-size: 1.5rem; } }
  .footer__row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .footer__row:first-child {
      padding: 3rem 5rem; }
    @media (max-width: 31.25em) {
      .footer__row {
        justify-content: space-around;
        text-align: center; } }
  .footer__col-1-of-3 {
    width: 20rem;
    position: relative; }
    @media (max-width: 31.25em) {
      .footer__col-1-of-3 {
        width: 60%;
        margin-bottom: 5rem; } }
    .footer__col-1-of-3 > p {
      margin-top: 2rem;
      color: #9698a6; }
  .footer__logo-box {
    width: 15rem;
    padding: 1rem;
    border-radius: 5px; }
  .footer__social-media {
    position: absolute;
    top: 80%; }
    .footer__social-media__item {
      display: inline-block;
      margin-right: 1rem; }
    @media (max-width: 31.25em) {
      .footer__social-media {
        top: 100%;
        left: 10%; } }
  .footer__info {
    list-style: none;
    color: #9698a6;
    display: flex;
    flex-direction: column; }
    .footer__info > li {
      display: block;
      margin-bottom: 5px; }
