.about{
  height: 80vh;
  padding: 2rem 4rem;
  background-color: $Light-Grayish-Blue;
  position: relative;
  &__container{
      margin-left: 9rem;
      margin-right: 9rem;
  }
  &__content{
    color:$Dark-Blue;
    width: 40vw;
    padding: 4rem;
    @include respond(Tablet){
        padding: 0;
    }
  }
  &__heading{
    letter-spacing: 2px;
    font-size: 3rem;
    font-weight: 300;
  }
  &__paragraph{
    letter-spacing: 1.5px;
    margin-top: 2rem;
    @include respond(Tablet){
      letter-spacing: 1px;
      margin-top: 1rem;
    }
  }
}


.row{
  position:absolute;
  top: 50%;
  left: 7%;
  display: flex;
  justify-content:space-between;
  align-items: center;
  align-content:flex-start;
  @include respond(Tablet) {
      top:40%;
  }
}
.col-1-of-4{
  width:18vw;
  align-self: center;
  &:not(:last-child){
    margin-right: 2rem;
  }
  & > img{padding-bottom:2rem;}
  & > h2{
    color:$Dark-Blue;
    font-size: 2rem;
    font-weight: 400;
    padding-bottom: 2rem;
  }
  & > p{
    color: $Dark-Blue;
    width: 12rem;
  }
}
