.header{
    width: 100%;
    height: 90vh;
    position: relative;
   /* background-image: url("../images/bg-intro-desktop.svg");

   */
    &__image{
      background: url("../images/image-mockups.png") center bottom no-repeat , url("../images/bg-intro-desktop.svg") left 35vw top 75% no-repeat;
    }
    &__content{
        width: 30vw;
        position: absolute;
        top: 30%;
        left: 10%;
    }
    &__heading{
        color:$Dark-Blue;
        letter-spacing: 2.5px;
        font-size: 3.5rem;
        font-weight: 300;
    }
    &__paragraph{
        color:$Dark-Blue;
        margin-top: 2rem;
        margin-bottom:2.5rem;
    }

}
