*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
@mixin respond($breakpoint) {
    @if $breakpoint == Mobile-L{
        @media (max-width: 31.25em)  {@content};//500px
    }
    @if $breakpoint == Tablet{
        @media (max-width: 48em)  {@content};//768px
    }
    @if $breakpoint == Laptop{
        @media (max-width: 66.0625em)  {@content};//1057px
    }
    @if $breakpoint == big-desktop{
        @media (min-width: 87.5em) {@content};//1400px
    }
}
html{
  @include respond(Laptop){
      font-size: 80%;
  }
  @include respond(Tablet){
      font-size: 75%;
  }
}



body{
    font-family: 'Public Sans', sans-serif;
}

$Dark-Blue: hsl(233, 26%, 24%);
$Lime-Green: hsl(136, 65%, 51%);
$Bright-Cyan: hsl(192, 70%, 51%);



$Grayish-Blue: hsl(233, 8%, 62%);
$Light-Grayish-Blue: hsl(220, 16%, 96%);
$Very-Light-Gray: hsl(0, 0%, 98%);
$White: hsl(0, 0%, 100%);


.navigation{
  background-color: $White;
  height: 10vh;
  display:flex;
  justify-content: space-between;
  align-items:center;
  box-shadow: 0 .5rem 1rem rgba(#000,.2);
  position: relative;
  z-index: 10;
  &__list{
    display: flex;
    justify-content: space-between;
    @include respond(Laptop){
        display: none;
    }
  }
  &__logo{
    margin-left: 7rem;
    @include respond(Laptop){
        margin-left: 3rem;
    }
  }
  &__item{
    font-weight: 400;
    list-style: none;
    margin-right: 2rem;
  }
  &__link{
    color:$Grayish-Blue;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    padding-bottom: 1.5rem;
    transition: all .2s;
    &:hover{
      border-bottom: 5px solid $Lime-Green;
    }
  }
  &_btn{
    margin-right: 8rem;
    @include respond(Tablet){
        display: none;
    }
  }
  &__checkbox{
    display: none;

  }
  // Hamburger navigation icon
  @include respond(Laptop) {
    &_btn{display: none;}
    &__background{
      width: 4rem;
      height: 4rem;
      position: absolute;
      right: 6.5rem;
      background-image: radial-gradient($Bright-Cyan,$Lime-Green);

      z-index: 1000;
      transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);
    }
    &__checkbox{
      display: none;

    }
    &__button{
      background-color: white;
      width: 5rem;
      height: 5rem;
      position: absolute;
      right: 6rem;
      z-index: 2000;
      text-align: center;
      cursor: pointer;
      border-radius: 6px;
    }

    &__nav{
      height: 100vh;
      position: fixed;
      top: 0;
      right: 0;
      z-index: 1500;
      transition: all .2s;
      opacity: 0;
      width: 0;
      transition: all .8s cubic-bezier(0.65 , -0.55 , 0.265 , 1.55);

    }
    &__list{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      list-style: none;
      text-align: center;
      width: 100%;

    }
    &__item{
      margin: 1rem;

    }
    &__link{
      &:link,
      &:visited{
      display: inline-block;
      font-size: 3rem;
      text-decoration: none;
      font-weight: 200;
      text-transform: uppercase;
      color: white;
      transition: all .2s;
      padding: 1rem 2rem;
      background-size: 220%;
      background-image: linear-gradient(120deg , transparent 0% , transparent 50% , white 50%);
      transition: all .5s;
      }
      &:hover{
          color: $Lime-Green;
          background-position: 100%;
          transform: translateX(1rem);
      }
    }
    &__checkbox:checked ~ &__background {
      transform: scale(80);
    }
    &__checkbox:checked ~ &__nav {
      opacity: 1;
      width: 100%;
    }
  //icon

    &__icon {
      position: relative;
      margin-top: 2.5rem;
      &,
      &::before,
      &::after{
          display: inline-block;
          width: 3rem;
          height: 2px;
          background-color: $Bright-Cyan;

      }
      &::before,
      &::after{
          content:"";
          position: absolute;
          left: 0;
          transition: all .2s;
      }
      &::before{
          top: -.6rem;
      }
      &::after{
          top: .6rem;
      }
    }
  }


}

.btn{
  text-decoration: none;
  width: 7rem;
  color:$Light-Grayish-Blue;
  background-image: linear-gradient(to right , $Lime-Green,$Bright-Cyan);
  padding: .8rem 2.8rem;
  border-radius: 10rem;
}
.btn:hover{
    background-image: linear-gradient(to right , $Bright-Cyan,$Lime-Green);
}
p{
  color: $Dark-Blue;
}
h3{color: $Dark-Blue;}
